main.activities
    p class="content-head is-center" Fält kan inte lämnas tomma
    form class="pure-form pure-form-stacked" action="/activities/#{result['id']}/update" method="post" required=true
        label for="name" Namn på aktivitet: 
        input type="text" name="name" value="#{result['name']}"
        label for="time" Antal timmar: 
        input type="text" name="time" value="#{result["time"]}"
        input type="hidden" name="id" value="#{result['id']}"
        input type="submit" value="Uppdatera!"

    p Du har spenderat: #{((result["time"]*3600000)/time)*100}% av ditt liv på #{result['name']}